* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
}

.btn__explo {
  font-size: 17px;
  color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  margin: 32px 0 52px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #ededed;
          box-shadow: 5px 5px 10px 2px #ededed;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice > .choice__btn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ededed;
  border-radius: 30px;
  padding: 15px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #ededed;
          box-shadow: 5px 5px 10px 2px #ededed;
}

.choice > .choice__btn > .choice__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12.5px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choice > .choice__btn .choice__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #ededed;
}

.choice > .choice__btn .choice__text {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.choice > .choice__btn:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu > .menu__btn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ededed;
  border-radius: 30px;
  padding: 15px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #ededed;
          box-shadow: 5px 5px 10px 2px #ededed;
}

.menu > .menu__btn > .menu__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12.5px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu > .menu__btn .menu__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #ededed;
}

.menu > .menu__btn .menu__text {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.menu > .menu__btn:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.savor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.savor > .savor__btn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ededed;
  border-radius: 30px;
  padding: 15px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #ededed;
          box-shadow: 5px 5px 10px 2px #ededed;
}

.savor > .savor__btn > .savor__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12.5px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.savor > .savor__btn .savor__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #9356dc;
}

.savor > .savor__btn .savor__text {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.savor > .savor__btn:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  background-color: #99e2d0;
  padding: 10px;
  color: #278870;
  border-radius: 5px;
  -webkit-transform: translateX(280%);
          transform: translateX(280%);
  margin: 15px 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 20px 0;
}

.search__section {
  border-top: 2px solid #ededed;
  margin: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ededed;
}

.search__section .search__ico {
  padding: 10px 0 10px 0;
}

.search__section .btn__search {
  padding: 10px 0 10px 0px;
}

.search__section .btn__search > #maRecherche {
  width: 150px;
  text-align: center;
  border: none;
  font-size: 17px;
  font-weight: bold;
  background-color: #ededed;
}

.description__title {
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
}

.description__title h1 {
  font-size: 22px;
  padding-top: 45px;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description__title h2 {
  font-weight: lighter;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  font-size: 18px;
}

.exploration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
}

.fonctionnement, .restaurants {
  margin: auto;
  max-width: 100%;
}

.fonctionnement h1, .restaurants h1 {
  font-size: 22px;
  margin: 58px 0 0px 20px;
}

@media screen and (min-width: 768px) {
  .fonctionnement, .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement h1, .restaurants h1 {
    margin: 44px 0 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .fonctionnement, .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement h1, .restaurants h1 {
    margin: 44px 0 0 20px;
  }
}

.restaurants .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #fafafaef;
  padding-bottom: 28px;
}

.restaurants .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafaef;
  margin: auto;
  width: 100%;
}

.restaurants .card > .resto__card1, .restaurants .card .resto__card2, .restaurants .card .resto__card3, .restaurants .card .resto__card4 {
  background-color: white;
  margin: 10px 20px 20px 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.restaurants .card > .resto__card1 > .resto1__img > img, .restaurants .card > .resto__card1 .resto2__img > img, .restaurants .card > .resto__card1 .resto3__img > img, .restaurants .card > .resto__card1 .resto4__img > img, .restaurants .card .resto__card2 > .resto1__img > img, .restaurants .card .resto__card2 .resto2__img > img, .restaurants .card .resto__card2 .resto3__img > img, .restaurants .card .resto__card2 .resto4__img > img, .restaurants .card .resto__card3 > .resto1__img > img, .restaurants .card .resto__card3 .resto2__img > img, .restaurants .card .resto__card3 .resto3__img > img, .restaurants .card .resto__card3 .resto4__img > img, .restaurants .card .resto__card4 > .resto1__img > img, .restaurants .card .resto__card4 .resto2__img > img, .restaurants .card .resto__card4 .resto3__img > img, .restaurants .card .resto__card4 .resto4__img > img {
  border-radius: 20px 20px 0px 0px;
}

.restaurants .card > .resto__card1 > .resto1__desc > .text1, .restaurants .card > .resto__card1 .resto2__desc > .text1, .restaurants .card > .resto__card1 .resto3__desc > .text1, .restaurants .card > .resto__card1 .resto4__desc > .text1, .restaurants .card .resto__card2 > .resto1__desc > .text1, .restaurants .card .resto__card2 .resto2__desc > .text1, .restaurants .card .resto__card2 .resto3__desc > .text1, .restaurants .card .resto__card2 .resto4__desc > .text1, .restaurants .card .resto__card3 > .resto1__desc > .text1, .restaurants .card .resto__card3 .resto2__desc > .text1, .restaurants .card .resto__card3 .resto3__desc > .text1, .restaurants .card .resto__card3 .resto4__desc > .text1, .restaurants .card .resto__card4 > .resto1__desc > .text1, .restaurants .card .resto__card4 .resto2__desc > .text1, .restaurants .card .resto__card4 .resto3__desc > .text1, .restaurants .card .resto__card4 .resto4__desc > .text1 {
  padding: 5px 0px 5px 20px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurants .card > .resto__card1 > .resto1__desc > .text1 > .heart__card1 > img, .restaurants .card > .resto__card1 > .resto1__desc > .text1 .heart__card2 > img, .restaurants .card > .resto__card1 > .resto1__desc > .text1 .heart__card3 > img, .restaurants .card > .resto__card1 > .resto1__desc > .text1 .heart__card4 > img, .restaurants .card > .resto__card1 .resto2__desc > .text1 > .heart__card1 > img, .restaurants .card > .resto__card1 .resto2__desc > .text1 .heart__card2 > img, .restaurants .card > .resto__card1 .resto2__desc > .text1 .heart__card3 > img, .restaurants .card > .resto__card1 .resto2__desc > .text1 .heart__card4 > img, .restaurants .card > .resto__card1 .resto3__desc > .text1 > .heart__card1 > img, .restaurants .card > .resto__card1 .resto3__desc > .text1 .heart__card2 > img, .restaurants .card > .resto__card1 .resto3__desc > .text1 .heart__card3 > img, .restaurants .card > .resto__card1 .resto3__desc > .text1 .heart__card4 > img, .restaurants .card > .resto__card1 .resto4__desc > .text1 > .heart__card1 > img, .restaurants .card > .resto__card1 .resto4__desc > .text1 .heart__card2 > img, .restaurants .card > .resto__card1 .resto4__desc > .text1 .heart__card3 > img, .restaurants .card > .resto__card1 .resto4__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card2 > .resto1__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card2 > .resto1__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card2 > .resto1__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card2 > .resto1__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card2 .resto2__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card2 .resto2__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card2 .resto2__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card2 .resto2__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card2 .resto3__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card2 .resto3__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card2 .resto3__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card2 .resto3__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card2 .resto4__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card2 .resto4__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card2 .resto4__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card2 .resto4__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card3 > .resto1__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card3 > .resto1__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card3 > .resto1__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card3 > .resto1__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card3 .resto2__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card3 .resto2__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card3 .resto2__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card3 .resto2__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card3 .resto3__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card3 .resto3__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card3 .resto3__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card3 .resto3__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card3 .resto4__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card3 .resto4__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card3 .resto4__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card3 .resto4__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card4 > .resto1__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card4 > .resto1__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card4 > .resto1__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card4 > .resto1__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card4 .resto2__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card4 .resto2__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card4 .resto2__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card4 .resto2__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card4 .resto3__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card4 .resto3__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card4 .resto3__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card4 .resto3__desc > .text1 .heart__card4 > img, .restaurants .card .resto__card4 .resto4__desc > .text1 > .heart__card1 > img, .restaurants .card .resto__card4 .resto4__desc > .text1 .heart__card2 > img, .restaurants .card .resto__card4 .resto4__desc > .text1 .heart__card3 > img, .restaurants .card .resto__card4 .resto4__desc > .text1 .heart__card4 > img {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(280%);
          transform: translateX(280%);
}

.restaurants .card > .resto__card1 > .resto1__desc > .text1 > .heart__card1 > img:hover, .restaurants .card > .resto__card1 > .resto1__desc > .text1 .heart__card2 > img:hover, .restaurants .card > .resto__card1 > .resto1__desc > .text1 .heart__card3 > img:hover, .restaurants .card > .resto__card1 > .resto1__desc > .text1 .heart__card4 > img:hover, .restaurants .card > .resto__card1 .resto2__desc > .text1 > .heart__card1 > img:hover, .restaurants .card > .resto__card1 .resto2__desc > .text1 .heart__card2 > img:hover, .restaurants .card > .resto__card1 .resto2__desc > .text1 .heart__card3 > img:hover, .restaurants .card > .resto__card1 .resto2__desc > .text1 .heart__card4 > img:hover, .restaurants .card > .resto__card1 .resto3__desc > .text1 > .heart__card1 > img:hover, .restaurants .card > .resto__card1 .resto3__desc > .text1 .heart__card2 > img:hover, .restaurants .card > .resto__card1 .resto3__desc > .text1 .heart__card3 > img:hover, .restaurants .card > .resto__card1 .resto3__desc > .text1 .heart__card4 > img:hover, .restaurants .card > .resto__card1 .resto4__desc > .text1 > .heart__card1 > img:hover, .restaurants .card > .resto__card1 .resto4__desc > .text1 .heart__card2 > img:hover, .restaurants .card > .resto__card1 .resto4__desc > .text1 .heart__card3 > img:hover, .restaurants .card > .resto__card1 .resto4__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card2 > .resto1__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card2 > .resto1__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card2 > .resto1__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card2 > .resto1__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card2 .resto2__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card2 .resto2__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card2 .resto2__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card2 .resto2__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card2 .resto3__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card2 .resto3__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card2 .resto3__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card2 .resto3__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card2 .resto4__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card2 .resto4__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card2 .resto4__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card2 .resto4__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card3 > .resto1__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card3 > .resto1__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card3 > .resto1__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card3 > .resto1__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card3 .resto2__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card3 .resto2__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card3 .resto2__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card3 .resto2__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card3 .resto3__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card3 .resto3__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card3 .resto3__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card3 .resto3__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card3 .resto4__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card3 .resto4__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card3 .resto4__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card3 .resto4__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card4 > .resto1__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card4 > .resto1__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card4 > .resto1__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card4 > .resto1__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card4 .resto2__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card4 .resto2__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card4 .resto2__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card4 .resto2__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card4 .resto3__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card4 .resto3__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card4 .resto3__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card4 .resto3__desc > .text1 .heart__card4 > img:hover, .restaurants .card .resto__card4 .resto4__desc > .text1 > .heart__card1 > img:hover, .restaurants .card .resto__card4 .resto4__desc > .text1 .heart__card2 > img:hover, .restaurants .card .resto__card4 .resto4__desc > .text1 .heart__card3 > img:hover, .restaurants .card .resto__card4 .resto4__desc > .text1 .heart__card4 > img:hover {
  cursor: pointer;
  z-index: 1;
  background: url(/ressources/images/heart/imageedit_4_5327351324.png);
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

.restaurants .card > .resto__card1 > .resto1__desc > .text2, .restaurants .card > .resto__card1 .resto2__desc > .text2, .restaurants .card > .resto__card1 .resto3__desc > .text2, .restaurants .card > .resto__card1 .resto4__desc > .text2, .restaurants .card .resto__card2 > .resto1__desc > .text2, .restaurants .card .resto__card2 .resto2__desc > .text2, .restaurants .card .resto__card2 .resto3__desc > .text2, .restaurants .card .resto__card2 .resto4__desc > .text2, .restaurants .card .resto__card3 > .resto1__desc > .text2, .restaurants .card .resto__card3 .resto2__desc > .text2, .restaurants .card .resto__card3 .resto3__desc > .text2, .restaurants .card .resto__card3 .resto4__desc > .text2, .restaurants .card .resto__card4 > .resto1__desc > .text2, .restaurants .card .resto__card4 .resto2__desc > .text2, .restaurants .card .resto__card4 .resto3__desc > .text2, .restaurants .card .resto__card4 .resto4__desc > .text2 {
  padding: 0px 0px 10px 20px;
  font-size: 18px;
  font-weight: lighter;
}

.restaurants > .heart__card1 > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media screen and (min-width: 768px) {
  .restaurants {
    background-color: #fafafaef;
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    background-color: #fafafaef;
  }
}

.restaurants > .card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .restaurants > .card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

footer {
  background-color: #333232;
  color: white;
}

footer .logo__footer {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  padding: 25px  25px 25px 25px;
}

footer .proposition__restaurant, footer .partenaire, footer .mention__text, footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px 25px;
}

footer .proposition__restaurant .ico__propos, footer .partenaire .ico__propos, footer .mention__text .ico__propos, footer .contact .ico__propos {
  padding-right: 15px;
}

footer .proposition__restaurant .ico__partenaire, footer .partenaire .ico__partenaire, footer .mention__text .ico__partenaire, footer .contact .ico__partenaire {
  padding-right: 5px;
}

footer .proposition__restaurant a, footer .partenaire a, footer .mention__text a, footer .contact a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */