footer {
  background-color: #333232;
  color: white;
}

footer .logo__footer {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  padding: 25px  25px 25px 25px;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    text-align: center;
  }
}

footer .proposition__restaurant, footer .partenaire, footer .mention__text, footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px 25px;
}

footer .proposition__restaurant .ico__propos, footer .partenaire .ico__propos, footer .mention__text .ico__propos, footer .contact .ico__propos {
  padding-right: 15px;
}

footer .proposition__restaurant .ico__partenaire, footer .partenaire .ico__partenaire, footer .mention__text .ico__partenaire, footer .contact .ico__partenaire {
  padding-right: 5px;
}

footer .proposition__restaurant a, footer .partenaire a, footer .mention__text a, footer .contact a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  footer .proposition__restaurant, footer .partenaire, footer .mention__text, footer .contact {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .proposition__restaurant .proposition__restaurant, footer .proposition__restaurant .partenaire, footer .partenaire .proposition__restaurant, footer .partenaire .partenaire, footer .mention__text .proposition__restaurant, footer .mention__text .partenaire, footer .contact .proposition__restaurant, footer .contact .partenaire {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  footer .proposition__restaurant, footer .partenaire, footer .mention__text, footer .contact {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .proposition__restaurant .proposition__restaurant, footer .proposition__restaurant .partenaire, footer .partenaire .proposition__restaurant, footer .partenaire .partenaire, footer .mention__text .proposition__restaurant, footer .mention__text .partenaire, footer .contact .proposition__restaurant, footer .contact .partenaire {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ico__left {
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.image__header {
  height: 16rem;
}

.image__plats1 {
  height: 17rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -32px -38px 2px 25px rgba(0, 0, 0, 0);
          box-shadow: -32px -38px 2px 25px rgba(0, 0, 0, 0);
}

.container__resto {
  margin: auto;
  margin: auto;
  max-width: 1660px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ebebeb;
  border-radius: 40px 40px 0 0;
  /*.container__enter-1, .container__enter-2, .container__enter-3{
     display:flex;
     justify-content: center;
     flex-direction: column;
     background-color: white;
     margin:.5rem;
     border-radius: 15px;
     padding:.5rem;
     box-shadow:1px 2px 28px 0px rgba(0,0,0,0.25);
 }*/
}

@media screen and (min-width: 1200px) {
  .container__resto {
    width: 60%;
  }
  .container__resto .title__resto1 {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .container__resto {
    width: 50%;
  }
  .container__resto .title__resto1 {
    width: 50%;
  }
}

.container__resto .title__resto1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  font-family: 'Shrikhand', cursive;
  border-radius: 40px 40px 0 0;
}

.container__resto > .title__resto1 > h2 {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  font-family: 'Shrikhand', cursive;
  padding: 35px 20px 15px 20px;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__resto .heart__resto1 {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  z-index: 0;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 10px;
  padding-right: 20px;
}

.container__resto .heart__resto1 :hover {
  -webkit-transition: 1.1s 0s linear;
  transition: 1.1s 0s linear;
  display: inline-block;
  cursor: pointer;
  background: -webkit-linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  z-index: 1;
}

.container__resto .container__title > h2 {
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  width: 8%;
  margin: .8rem;
}

.container__resto .title__enter > h3 {
  font-weight: normal;
}

.container__resto .legend__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__resto .legend__enter > h4 {
  font-weight: lighter;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.container__resto .container__enter {
  -webkit-animation: fadein 3s ease-in-out;
          animation: fadein 3s ease-in-out;
}

.container__resto .container__dishes {
  -webkit-animation: fadein 6s ease-in-out;
          animation: fadein 6s ease-in-out;
}

.container__resto .container__dessert {
  -webkit-animation: fadein 9s ease-in-out;
          animation: fadein 9s ease-in-out;
}

.enter__container > .btn--1, .enter__container > .btn--2, .enter__container > .btn--3 {
  -webkit-animation: loadingbtnstep 0.8s 0.2s backwards ease;
          animation: loadingbtnstep 0.8s 0.2s backwards ease;
}

.dishes__container > .btn--1, .dishes__container > .btn--2, .dishes__container > .btn--3 {
  -webkit-animation: loadingbtnstep 0.8s 0.2s backwards ease;
          animation: loadingbtnstep 0.8s 0.2s backwards ease;
}

.dessert__container > .btn--1, .dessert__container > .btn--2, .dessert__container > .btn--3 {
  -webkit-animation: loadingbtnstep 0.8s 0.2s backwards ease;
          animation: loadingbtnstep 0.8s 0.2s backwards ease;
}

.enter__container__btn, .dishes__container__btn, .dessert__container__btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.enter__container__btn:hover, .dishes__container__btn:hover, .dessert__container__btn:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 15px #7b7171;
          box-shadow: 0.25rem 0.25rem 15px #7b7171;
}

.enter__container__btn, .dishes__container__btn, .dessert__container__btn {
  background-color: white;
  width: 90%;
  height: 75px;
  border-radius: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
          box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
  padding: 0 0 0 1em;
  margin: .75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@-webkit-keyframes loadingbtnstep {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadingbtnstep {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.enter__container__text, .dishes__container__text, .dessert__container__text {
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.enter__container__text__title, .dishes__container__text__title, .dessert__container__text__title {
  font-size: 1em;
  margin: 2% 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.enter__container__text__legend, .dishes__container__text__legend, .dessert__container__text__legend {
  margin: 1% 0 2% 0;
  opacity: 0.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.enter__price, .dishes__price, .dessert__price {
  width: 25px;
  font-weight: bold;
  text-align: center;
  padding-right: 15px;
}

.enter__order, .dishes__order, .dessert__order {
  background-color: #99E2D0;
  width: 80px;
  height: 75px;
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -5em;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin-left: 10px;
}

.enter__container__btn:hover > .enter__order, .dishes__container__btn:hover > .dishes__order, .dessert__container__btn:hover > .dessert__order {
  margin-right: 0;
}

.enter__container__btn:hover > .enter__order > .enter__order__container, .dishes__container__btn:hover > .dishes__order > .dishes__order__container, .dessert__container__btn:hover > .dessert__order > .dessert__order__container {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.enter__order__container, .dishes__order__container, .dessert__order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  width: 35px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: .65s;
          transition-duration: .65s;
}

.dishes__container__icon > i, .enter__container__icon > i, .dessert__container__icon > i {
  color: white;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__commander {
  font-size: 17px;
  color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  margin: 32px 0 72px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #eaeaea;
          box-shadow: 5px 5px 10px 2px #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
}

.btn__explo {
  font-size: 17px;
  color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  margin: 32px 0 52px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #eaeaea;
          box-shadow: 5px 5px 10px 2px #eaeaea;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice > .choice__btn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
  border-radius: 30px;
  padding: 15px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #eaeaea;
          box-shadow: 5px 5px 10px 2px #eaeaea;
}

.choice > .choice__btn > .choice__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12.5px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choice > .choice__btn .choice__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #b1adad;
}

.choice > .choice__btn .choice__text {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.choice > .choice__btn:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu > .menu__btn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
  border-radius: 30px;
  padding: 15px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #eaeaea;
          box-shadow: 5px 5px 10px 2px #eaeaea;
}

.menu > .menu__btn > .menu__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12.5px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu > .menu__btn .menu__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #b1adad;
}

.menu > .menu__btn .menu__text {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.menu > .menu__btn:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.savor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.savor > .savor__btn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
  border-radius: 30px;
  padding: 15px 0;
  -webkit-box-shadow: 5px 5px 10px 2px #eaeaea;
          box-shadow: 5px 5px 10px 2px #eaeaea;
}

.savor > .savor__btn > .savor__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12.5px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.savor > .savor__btn .savor__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #9356dc;
}

.savor > .savor__btn .savor__text {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.savor > .savor__btn:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  background-color: #99e2d0;
  padding: 10px;
  color: #278870;
  border-radius: 5px;
  -webkit-transform: translateX(280%);
          transform: translateX(280%);
  margin: 15px 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.logo > .ico__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation {
  background-color: #fcfcfc;
}

.search__section {
  margin: auto;
  max-width: 1660px;
  -webkit-box-shadow: inset 1px 3px 5px 1px rgba(0, 0, 0, 0.42);
          box-shadow: inset 1px 3px 5px 1px rgba(0, 0, 0, 0.42);
  margin: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
}

.search__section .search__ico {
  padding: 10px 0 10px 0;
}

.search__section .btn__search {
  padding: 10px 0 10px 0px;
}

.search__section .btn__search > #maRecherche {
  width: 150px;
  text-align: center;
  border: none;
  font-size: 17px;
  font-weight: bold;
  background-color: #eaeaea;
}

.description__title {
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #fcfcfc;
}

.description__title h1 {
  font-size: 22px;
  padding-top: 45px;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description__title h2 {
  font-weight: lighter;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  font-size: 18px;
}

.exploration {
  margin: auto;
  max-width: 1660px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcfcfc;
}

.card {
  background-color: #fcfcfc;
}

.fonctionnement, .restaurants {
  margin: auto;
  max-width: 1660px;
  margin: auto;
  max-width: 100%;
}

.fonctionnement h1, .restaurants h1 {
  font-size: 22px;
  margin: 58px 0 0px 20px;
}

@media screen and (min-width: 768px) {
  .fonctionnement, .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement h1, .restaurants h1 {
    margin: 44px 0 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .fonctionnement, .restaurants {
    margin: auto;
    max-width: 1660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement h1, .restaurants h1 {
    margin: 44px 0 0 20px;
  }
}

.card__restaurants {
  background-color: #fcfcfc;
}

.restaurants {
  background-color: #fcfcfc;
  margin: auto;
  max-width: 1660px;
}

.restaurants .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #fcfcfc;
  padding-bottom: 28px;
}

.restaurants .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fcfcfc;
  margin: auto;
  width: 100%;
}

.restaurants .card .resto__card1, .restaurants .card .resto__card2, .restaurants .card .resto__card3, .restaurants .card .resto__card4 {
  background-color: white;
  margin: 10px 20px 20px 20px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}

.restaurants .card .resto__card1 > .resto2__img > img, .restaurants .card .resto__card1 .resto2__img > img, .restaurants .card .resto__card1 .resto3__img > img, .restaurants .card .resto__card1 .resto4__img > img, .restaurants .card .resto__card2 > .resto2__img > img, .restaurants .card .resto__card2 .resto2__img > img, .restaurants .card .resto__card2 .resto3__img > img, .restaurants .card .resto__card2 .resto4__img > img, .restaurants .card .resto__card3 > .resto2__img > img, .restaurants .card .resto__card3 .resto2__img > img, .restaurants .card .resto__card3 .resto3__img > img, .restaurants .card .resto__card3 .resto4__img > img, .restaurants .card .resto__card4 > .resto2__img > img, .restaurants .card .resto__card4 .resto2__img > img, .restaurants .card .resto__card4 .resto3__img > img, .restaurants .card .resto__card4 .resto4__img > img {
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

.restaurants .card > .resto1__desc > .text1, .restaurants .card .resto2__desc > .text1, .restaurants .card .resto3__desc > .text1, .restaurants .card .resto4__desc > .text1 {
  padding: 5px 0px 5px 20px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .card > .resto1__desc > .text1 > .heart__card1 > i, .restaurants .card > .resto1__desc > .text1 .heart__card2 > i, .restaurants .card > .resto1__desc > .text1 .heart__card3 > i, .restaurants .card > .resto1__desc > .text1 .heart__card4 > i, .restaurants .card .resto2__desc > .text1 > .heart__card1 > i, .restaurants .card .resto2__desc > .text1 .heart__card2 > i, .restaurants .card .resto2__desc > .text1 .heart__card3 > i, .restaurants .card .resto2__desc > .text1 .heart__card4 > i, .restaurants .card .resto3__desc > .text1 > .heart__card1 > i, .restaurants .card .resto3__desc > .text1 .heart__card2 > i, .restaurants .card .resto3__desc > .text1 .heart__card3 > i, .restaurants .card .resto3__desc > .text1 .heart__card4 > i, .restaurants .card .resto4__desc > .text1 > .heart__card1 > i, .restaurants .card .resto4__desc > .text1 .heart__card2 > i, .restaurants .card .resto4__desc > .text1 .heart__card3 > i, .restaurants .card .resto4__desc > .text1 .heart__card4 > i {
  z-index: 0;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 10px;
}

.restaurants .card > .resto1__desc > .text1 > .heart__card1 > i:hover, .restaurants .card > .resto1__desc > .text1 .heart__card2 > i:hover, .restaurants .card > .resto1__desc > .text1 .heart__card3 > i:hover, .restaurants .card > .resto1__desc > .text1 .heart__card4 > i:hover, .restaurants .card .resto2__desc > .text1 > .heart__card1 > i:hover, .restaurants .card .resto2__desc > .text1 .heart__card2 > i:hover, .restaurants .card .resto2__desc > .text1 .heart__card3 > i:hover, .restaurants .card .resto2__desc > .text1 .heart__card4 > i:hover, .restaurants .card .resto3__desc > .text1 > .heart__card1 > i:hover, .restaurants .card .resto3__desc > .text1 .heart__card2 > i:hover, .restaurants .card .resto3__desc > .text1 .heart__card3 > i:hover, .restaurants .card .resto3__desc > .text1 .heart__card4 > i:hover, .restaurants .card .resto4__desc > .text1 > .heart__card1 > i:hover, .restaurants .card .resto4__desc > .text1 .heart__card2 > i:hover, .restaurants .card .resto4__desc > .text1 .heart__card3 > i:hover, .restaurants .card .resto4__desc > .text1 .heart__card4 > i:hover {
  -webkit-transition: 1.1s 0s linear;
  transition: 1.1s 0s linear;
  display: inline-block;
  cursor: pointer;
  background: -webkit-linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  z-index: 1;
}

.restaurants .card > .resto1__desc > .text2, .restaurants .card .resto2__desc > .text2, .restaurants .card .resto3__desc > .text2, .restaurants .card .resto4__desc > .text2 {
  padding: 0px 0px 10px 20px;
  font-size: 18px;
  font-weight: lighter;
}

.restaurants > .heart__card1 > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media screen and (min-width: 768px) {
  .restaurants {
    background-color: #fcfcfc;
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    background-color: #fcfcfc;
  }
}

.card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .restaurants .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.resto1__img > a > img {
  border-radius: 20px;
}

.loading__contain {
  margin: 0;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeout 0.2s 3s forwards;
          animation: fadeout 0.2s 3s forwards;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

> .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 10px solid #9356dc;
  position: relative;
  -webkit-animation: a1 2s linear infinite;
          animation: a1 2s linear infinite;
}

.loading::before, .loading::after {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -10px;
  border-radius: 50%;
}

.loading::before {
  border-top: 10px solid #ff79da;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.loading::after {
  border-top: 10px solid #99e2d0;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

@-webkit-keyframes a1 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    display: none;
  }
}

@keyframes a1 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */