//search
.search__section {
    
    @include container__dimension;
    border-top: 2px solid grey;
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: $dark-gps-color;
    &  .search__ico {
        padding: 10px 0 10px 0;
    }
    & .btn__search {
        padding: 10px 0 10px 0px;
        >  #maRecherche{
            width:150px;
            text-align: center;
            border: none;
            font-size: 17px;
            font-weight: bold;
            background-color:$dark-gps-color ;
        }
    }
}
.description__title{
    
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: $light-gps-color;
    & h1{
        font-size: 22px;
        padding-top: 45px;
        font-weight: bold;
        flex-wrap: wrap;
    }
    & h2{
        font-weight: lighter;
        flex-wrap: wrap;
        padding-top: 20px;
        font-size: 18px;
    
    }
}
.exploration {
    @include container__dimension;
    display: flex;
    justify-content: center;
    background-color: $light-gps-color;
    
}
.fonctionnement, .restaurants{
    @include container__dimension;
    
    margin: auto;
    max-width: 100%;
    & h1{
        font-size: 22px;
        margin:58px 0 0px 20px;
    }


    @include bp(tablet) {
        display:flex;
        flex-direction:row;
        & h1{
            margin: 44px 0 0 20px;
        }
        
    }
    @include bp(desktop) {
        @include container__dimension;
        display:flex;
        flex-direction:row;
        & h1{
            margin: 44px 0 0 20px;
        }


    }

}
.restaurants{
    @include container__dimension;
   @include card__resto;
   > .heart__card1 > img{
       display: flex;
       flex-direction: row;
       justify-content: right;
   }
   @include bp(tablet){
    background-color:$gps-color; 
   }
   
   @include bp(desktop){
    background-color:$gps-color; 
   }
   
  
   
    > .card{ 

        @include bp(tablet);
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    
        }
   
    > .card{ 
       
        @include bp(desktop) { 
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        }
    }
}
    

   



