.btn__explo{
    font-size: 17px;
    color: white;
    border-radius: 1.5rem;
    cursor:pointer;
    padding: 0.75rem 1rem;
    background-image: $black-img-degrad;
    margin: 32px 0 52px 0;
    box-shadow: 5px 5px 10px 2px $dark-gps-color;
}

.choice{
   @include button__choice;
}

.menu{
   @include button__menu;
}
.savor{
   @include button__savor;
}
//btn__nouveau
.btn__nouveau{
   @include btn__card;
}




    
