.btn__explo{
    font-size: 17px;
    color: white;
    border-radius: 1.5rem;
    cursor:pointer;
    padding: 0.75rem 1rem;
    background-image: $back-img-degrad;
    margin: 32px 0 52px 0;
    box-shadow: 5px 5px 10px 2px $dark-gps-color;
}

.choice{
    display: flex ;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;

    > .choice__btn{
        width:80%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        background-color:$light-gps-color;
        border-radius: 30px;
        padding:15px 0;
        box-shadow: 5px 5px 10px 2px $dark-gps-color; 
        
        > .choice__number{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 12.5px;
            background-color: $col-primairy;
            width: 25px;
            height: 25px;
            transform: translateX(-50%);
        
        }
    .choice__ico{
        display: flex;
        justify-content: left;
        color:$dark-gps-color;
    
        
    }
    .choice__text{
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        transition: 0.5s;
    }
    }
}

.menu{
    display: flex ;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;

    > .menu__btn{
        width:80%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        background-color:$light-gps-color;
        border-radius: 30px;
        padding:15px 0;
        box-shadow: 5px 5px 10px 2px $dark-gps-color;
        > .menu__number{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 12.5px;
            background-color: $col-primairy;
            width: 25px;
            height: 25px;
            transform: translateX(-50%);
        
        }
    .menu__ico{
        display: flex;
        justify-content: left;
        color: $dark-gps-color;
        
    }
    .menu__text{
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        transition: 0.5s;
    }
}
}
.savor{
    display: flex ;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;

    > .savor__btn{
        width:80%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        background-color:$light-gps-color;
        border-radius: 30px;
        padding:15px 0;
        box-shadow: 5px 5px 10px 2px $dark-gps-color;
        > .savor__number{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 12.5px;
            background-color: $col-primairy;
            width: 25px;
            height: 25px;
            transform: translateX(-50%);
        
        }
    .savor__ico{
        display: flex;
        justify-content: left;
        color: $dark-gps-color;
        
    }
    .savor__text{
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        transition: 0.5s;
    }
}
}


    
