* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
    margin: auto;
    max-width: 1600px;
}
