//*icone left*//
.ico__left{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}


//*image principale*//
.image__header{
    height:16rem;
}
.image__plats1{
  
    height: 17rem;
    width: 100%;
    object-fit: cover;
    box-shadow:-32px -38px 2px 25px rgba(0,0,0,0) ;
}

 //*conteneur choix menu*//
 .container__resto{
     margin: auto;
    @include container__dimension;
     width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    background: $gps-color;
    border-radius: 40px 40px 0 0;
    
    @include bp(desktop){
        width:60%;
        .title__resto1{
            width:60%;
        }
    }
    
    @include bp(tablet){
        width: 50%;
        .title__resto1{
            width: 50%;
        }
    }
    .title__resto1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    font-family: 'Shrikhand', cursive;
    border-radius: 40px 40px 0 0;
    

    }

     > .title__resto1 > h2{

         z-index: 1;
         display: flex;
         flex-direction: row;
         width: 100%;
         font-family: 'Shrikhand', cursive;
         padding:35px 20px 15px 20px;
         font-size: 25px;
         justify-content: center;
         
         
     }

       .heart__resto1{
         padding-top: 20px;
         display:flex;
         justify-content:center;
         align-items: center;
        margin: auto;
        @include heart;
        padding-right: 20px;
       

        :hover  {                
            @include heart__hover
                
        }
    }

 
 .container__title >h2{
     font-weight: lighter;
     border-bottom: 4px solid $col-tertiory;
     width:8%;
     margin:.8rem;
 }
 /*.container__enter-1, .container__enter-2, .container__enter-3{
     display:flex;
     justify-content: center;
     flex-direction: column;
     background-color: white;
     margin:.5rem;
     border-radius: 15px;
     padding:.5rem;
     box-shadow:1px 2px 28px 0px rgba(0,0,0,0.25);
 }*/
 .title__enter > h3{
     font-weight:normal;
 }
 .legend__enter{
    display:flex;
    justify-content: space-between;
     
 }
 .legend__enter > h4{
     font-weight: lighter;
 }
 
 @keyframes fadein{
     from{
         opacity:0;
     }
     to{
         opacity:100%;
     }
 }   

 .container__enter{
    animation: fadein 3s ease-in-out;
 }
 .container__dishes{
    animation: fadein 6s ease-in-out;
 }
 .container__dessert{
    animation: fadein 9s ease-in-out;
 }
 

 }
//menu a la française//

.enter__container > .btn--1, .enter__container > .btn--2, .enter__container > .btn--3  {
    animation: loadingbtnstep 0.8s 0.2s backwards ease;
}
.dishes__container > .btn--1, .dishes__container > .btn--2, .dishes__container > .btn--3{
    animation: loadingbtnstep 0.8s 0.2s backwards ease;
}
.dessert__container > .btn--1, .dessert__container > .btn--2, .dessert__container > .btn--3{
    animation: loadingbtnstep 0.8s 0.2s backwards ease;
}
.enter__container__btn, .dishes__container__btn, .dessert__container__btn   {
    box-shadow: none;
}
.enter__container__btn:hover, .dishes__container__btn:hover, .dessert__container__btn:hover {
    box-shadow: 0.25rem 0.25rem 15px #7b7171;
}
.enter__container__btn, .dishes__container__btn, .dessert__container__btn {
    background-color: white;
    width: 90%;
    height: 75px;
    border-radius: 20px;
    box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
    padding: 0 0 0 1em;
    margin: .75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
@keyframes loadingbtnstep {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.enter__container__text, .dishes__container__text, .dessert__container__text {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.enter__container__text__title, .dishes__container__text__title, .dessert__container__text__title {
    font-size: 1em;
    margin: 2% 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.enter__container__text__legend, .dishes__container__text__legend, .dessert__container__text__legend {
    margin: 1% 0 2% 0;
    opacity: 0.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.enter__price, .dishes__price, .dessert__price {
    width: 25px;
    font-weight: bold;
    text-align: center;
    padding-right:15px;
}
.enter__order, .dishes__order, .dessert__order {
    background-color: #99E2D0;
    width: 80px;
    height: 75px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5em;
    transition-duration: .5s;
    margin-left:10px;
}
.enter__container__btn:hover > .enter__order, .dishes__container__btn:hover > .dishes__order, .dessert__container__btn:hover > .dessert__order  {
    margin-right: 0;
}
.enter__container__btn:hover > .enter__order > .enter__order__container, .dishes__container__btn:hover > .dishes__order > .dishes__order__container, .dessert__container__btn:hover > .dessert__order > .dessert__order__container {
    transform: rotate(360deg);
}
.enter__order__container, .dishes__order__container,.dessert__order__container {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    width: 35px;
    transform: rotate(360deg);
    transition-duration: .65s;
}
.dishes__container__icon > i, .enter__container__icon > i, .dessert__container__icon > i  {
    color: white;
    
}
//btn__commander//
.commander{
    display:flex;
    justify-content: center;
}
.btn__commander{
    
    font-size: 17px;
    color: white;
    border-radius: 1.5rem;
    cursor:pointer;
    padding: 0.75rem 1rem;
    background-image: $black-img-degrad;
    margin: 32px 0 72px 0;
    box-shadow: 5px 5px 10px 2px $dark-gps-color;
}
    

