//*icone left*//
.ico__left{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}


//*image principale*//
.image__plats1{
  
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    box-shadow:-32px -38px 2px 25px rgba(0,0,0,0) ;
    }

 //*conteneur choix menu*//
 .container__resto{
     margin: auto;
    @include container__dimension;
     width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    background: $gps-color;
    border-radius: 20px;
    
   

    > .title__resto1{
        width: 100%;
        display: flex;
        border-radius: 30px 30px 0px 0px;
        background-color: $dark-gps-color;
       
    }
     > .title__resto1 > h2{

         z-index: 1;
         display: flex;
         flex-direction: row;
         width: 100%;
         font-family: 'Shrikhand', cursive;
         padding:35px 20px 15px 20px;
         font-size: 25px;
         justify-content: center;
         
     }

     & .heart__resto1{
         padding-top: 20px;
         display:flex;
         justify-content:center;
         align-items: center;
        margin: auto;
        @include heart;
        padding-right: 20px;
       

        :hover  {                
            @include heart__hover
                
        }
    }

 }
 .container__title >h2{
     font-weight: lighter;
     border-bottom: 4px solid $col-tertiory;
     width:8%;
     margin:.8rem;
 }
 .container__enter-1, .container__enter-2, .container__enter-3{
     display:flex;
     justify-content: center;
     flex-direction: column;
     background-color: white;
     margin:.5rem;
     border-radius: 15px;
     padding:.5rem;
     box-shadow:1px 2px 28px 0px rgba(0,0,0,0.25);
 }
 .title__enter > h3{
     font-weight:normal;
 }
 .legend__enter{
    display:flex;
    justify-content: space-between;
     
 }
 .legend__enter > h4{
     font-weight: lighter;
 }
 
 @keyframes fadein{
     from{
         opacity:0;
     }
     to{
         opacity:100%;
     }
 }   

 .container__entrée{
    animation: fadein 3s ease-in-out;
 }
 .container__plats{
    animation: fadein 6s ease-in-out;
 }
 .container__dessert{
    animation: fadein 9s ease-in-out;
 }
 

.commander{
    display:flex;
    justify-content: center;
}
.btn__commander{
    
    font-size: 17px;
    color: white;
    border-radius: 1.5rem;
    cursor:pointer;
    padding: 0.75rem 1rem;
    background-image: $black-img-degrad;
    margin: 32px 0 72px 0;
    box-shadow: 5px 5px 10px 2px $dark-gps-color;
}
.menu__enter__block > .btn--1 {
    animation: loadingbtnstep 0.8s 0.2s backwards ease;
}
.menu__enter__block__btn {
    box-shadow: none;
}
.menu__enter__block__btn:hover {
    box-shadow: 0.25rem 0.25rem 15px #7b7171;
}
.menu__enter__block__btn {
    background-color: white;
    width: 90%;
    height: 75px;
    border-radius: 20px;
    box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
    padding: 0 0 0 1em;
    margin: .75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
@keyframes loadingbtnstep {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.menu__enter__block__btn__name {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.menu__enter__block__btn__name__title {
    font-size: 1em;
    margin: 2% 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.menu__enter__block__btn__name__details {
    margin: 1% 0 2% 0;
    opacity: 0.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.menu__enter__block__btn__price {
    width: 25px;
    font-weight: bold;
    text-align: center;
    padding: 1.4em 1.5em 0 1em;
}
.menu__enter__block__btn__order {
    background-color: #99E2D0;
    width: 80px;
    height: 75px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5em;
    transition-duration: .5s;
}
.menu__enter__block__btn:hover > .menu__enter__block__btn__order {
    margin-right: 0;
}
.menu__enter__block__btn:hover > .menuenter__block__btn__order > .menu__enter__block__btn__order__container {
    transform: rotate(360deg);
}
.menu__enter__block__btn__order__container {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    width: 35px;
    transform: rotate(0deg);
    transition-duration: .65s;
}

.menu__enter__block__btn__order__container__icon{
    >i{
        width: 1.2em;
        transform: rotate(360deg);
        color:white;
    }
}
