.container__img{

display: flex;
align-items: center;
margin: auto;
max-width: 100%;

.image__plats1{
  
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    object-fit: contain;

    > img{
        position:relative;
    }


    }

 }  
 .container__resto{
     margin: auto;
    @include container__dimension;
     width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    background: $dark-gps-color;
    
   

    .title__resto1{
        margin-top: 220px;
        width: 100%;
        display: flex;
        
        border-radius: 30px 30px 0px 0px;
        position: absolute;
        background-color: $dark-gps-color;
       
    }
     > .title__resto1 > h2{

         z-index: 1;
         display: flex;
         flex-direction: row;
         width: 100%;
         font-family: 'Shrikhand', cursive;
         padding:35px 20px 20px 20px;
         font-size: 25px;
         
     }

     & .heart__resto1{
         display: flex;
         align-items: center;
        margin: auto;
        @include heart;
        padding-right: 20px;
       

        :hover  {                
            @include heart__hover
                
        }
     }

 }
 .container__enter{
    
     display:flex;
     flex-direction: column;
     background-color: $dark-gps-color;
 }
 .container__icon:hover{
     display:flex;
     justify-content: right;
     align-items: center;
     background-color: $col-tertiory;
     color:white;
     
 }
 .container__title{
     width: 100%;
     background-color: $dark-gps-color;
     padding:36px 0 0px 20px;
    border-bottom: 3px solid $col-tertiory;
    width: 10%;  
    padding-left: 0px;
    margin-left: 20px;
     
     > h2{
         font-weight: lighter;
         font-size: 20px;
     }
    
     
 }
 .container__enter-1{
    @include contain__choice;
    }
.container__enter-2{
    @include contain__choice;
}
.container__enter-3{
    @include contain__choice;
}
.commander{
    display:flex;
    justify-content: center;
}
.btn__commander{
    
    font-size: 17px;
    color: white;
    border-radius: 1.5rem;
    cursor:pointer;
    padding: 0.75rem 1rem;
    background-image: $black-img-degrad;
    margin: 32px 0 72px 0;
    box-shadow: 5px 5px 10px 2px $dark-gps-color;
}