footer{
    background-color: $col-footer;
    color: white;
    .logo__footer{
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        padding: 25px  25px 25px 25px;
    }
        @include bp(tablet){
            text-align: center;
        }
        @include bp(desktop){
            text-align: center;
            }
            
    .proposition__restaurant, .partenaire, .mention__text, .contact{
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding: 10px 25px;
        & .ico__propos{
            padding-right: 15px;
        }
        & .ico__partenaire{
            padding-right: 5px;
        }
        & a {
            text-decoration: none;
            color: white;

        }
        @include bp(tablet){
            display:inline-block;
            flex-direction: row;
            justify-content: center;
          & .ico__partenaire, .ico__partenaire{
            display:inline-block;
            justify-content: center;
           
          }
        }
        @include bp(desktop){
            display:inline-block;
            flex-direction: row;
            justify-content: center;
          & .ico__partenaire, .ico__partenaire{
            display:inline-block;
            justify-content: center;
           
          }
        }
    }
    
    
    
}