//Breakpoint
@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
         
        @media screen and (min-width: $value) {
            @content;
        }
    }
}
@mixin container__dimension {
    margin:auto;
    max-width: 1660px;
    
}

@mixin button__choice{
        display: flex ;
        width: 100%;
        margin:auto;
        justify-content: center;
        align-items: center;
    
        > .choice__btn{
            width:80%;
            display: flex;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            background-color:$light-gps-color;
            border-radius: 30px;
            padding:15px 0;
            box-shadow: 5px 5px 10px 2px $dark-gps-color; 
            
            > .choice__number{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                border-radius: 12.5px;
                background-color: $col-primairy;
                width: 25px;
                height: 25px;
                transform: translateX(-50%);
            
            }
        .choice__ico{
            display: flex;
            justify-content: left;
            color:rgb(177, 173, 173);
        
            
        }
        .choice__text{
            padding: 0 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
            
        }
        &:hover{
            cursor: pointer;
            background-color: rgb(179, 136, 136);
            transition: all 1s ;
        }
        }
}
@mixin button__menu{
    display: flex ;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;

    > .menu__btn{
        width:80%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom:30px;
        background-color:$light-gps-color;
        border-radius: 30px;
        padding:15px 0;
        box-shadow: 5px 5px 10px 2px $dark-gps-color;
        > .menu__number{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 12.5px;
            background-color: $col-primairy;
            width: 25px;
            height: 25px;
            transform: translateX(-50%);
        
        }
    .menu__ico{
        display: flex;
        justify-content: left;
        color:rgb(177, 173, 173);
        
    }
    .menu__text{
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        transition: 0.5s;
    }
}
}
@mixin button__savor{
    display: flex ;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;

    > .savor__btn{
        width:80%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color:$light-gps-color;
        border-radius: 30px;
        padding:15px 0;
        box-shadow: 5px 5px 10px 2px $dark-gps-color;
        > .savor__number{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 12.5px;
            background-color: $col-primairy;
            width: 25px;
            height: 25px;
            transform: translateX(-50%);
        
        }
    .savor__ico{
        display: flex;
        justify-content: left;
        color: $col-primairy;
        
            
        
        
    }
    .savor__text{
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        transition: 0.5s;
    }
}
}

@mixin card__resto{
    .title { 
        display: flex;
        justify-content: left;
        background-color: $gps-color;
        padding-bottom: 28px;
        
    }
    .card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $gps-color;
        margin:auto;
        width: 100%;
        
        > .resto__card1, .resto__card2, .resto__card3, .resto__card4 {
            background-color: white;
            margin: 10px 20px 20px 20px;
            object-fit: contain;
            border-radius: 20px;
           
                > .resto1__img > img, .resto2__img > img, .resto3__img > img, .resto4__img > img{
                border-radius: 20px 20px 0px 0px;
                object-fit: contain;
                
                }
            
               
            }
            > .resto1__desc > .text1, .resto2__desc > .text1, .resto3__desc > .text1, .resto4__desc > .text1 {
                padding: 5px 0px 5px 20px;
                font-size: 13px;
                display: flex;
                justify-content: space-between;
                
            
                
                > .heart__card1 > i, .heart__card2 > i, .heart__card3 > i, .heart__card4 > i{
                        
                    @include heart;
                        
                &:hover  {
                                
                      @include heart__hover;
                            
                    }
                    
                }
            }
            > .resto1__desc > .text2, .resto2__desc > .text2, .resto3__desc > .text2, .resto4__desc > .text2{
                padding: 0px 0px 10px 20px;
                font-size: 18px;
                font-weight: lighter;
            }
    
        }
            
}

        
@mixin heart{
    z-index: 0;
    display: inline-block;
    flex-direction: row;
    padding-right: 10px;

}
@mixin heart__hover{
            
    transition: 1.1s 0s linear ;
    display: inline-block;
    cursor: pointer;                     
    background:-webkit-linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    font-weight: bold;
    z-index: 1;
}
@mixin btn__card{
    
        display: flex;
        flex-direction: row;
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        background-color: $col-tertiory;
        padding:10px;
        color: $dark-col-tertiory;
        border-radius: 5px;
        transform: translateX(280%);
        margin:15px 10px;
        object-fit: contain;
     
}


@mixin contain__choice{
    display:inline-block;
    flex-direction: row;
    margin: 20px 20px 4px 20px;
    padding:10px;
    background-color: white;
    border-radius: 20px;

        & .title__enter{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        > h3{
            font-weight: normal;
            font-size:17px;
        }
    }
        > .legend__enter{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        > h4{
            font-weight: lighter;
            font-size:15px;
        > p{
            font-size:17px;
        }
        }
      
    }
}


