//color
$gps-color:rgb(223, 221, 221);
$dark-gps-color:darken(rgb(223, 221, 221), 15%);
$light-gps-color:lighten(rgb(223, 221, 221), 5%);
$col-primairy:#9356dc;
$col-secondary:#ff79da;
$col-tertiory:#99e2d0;
$dark-col-tertiory:darken((#99e2d0), 40%);
$back-img-degrad:linear-gradient(to bottom, $col-primairy,$col-secondary);
$col-footer:rgb(51, 50, 50);

//Breakpoint
$breakpoints: (
    phone:360px,
    tablet: 768px,
    desktop:1200px
);


