//color
$gps-color:#f7f7f7;
$dark-gps-color: darken(#f7f7f7,2%);
$light-gps-color: lighten(#f7f7f7,10%);
$col-primairy:#9356dc;
$col-secondary:#ff79da;
$col-tertiory:#99e2d0;
$dark-col-tertiory:darken(#99e2d0,40%);
$black-img-degrad:linear-gradient(to bottom, $col-primairy,$col-secondary);
$col-footer:rgb(51, 50, 50);


//Breakpoint
$breakpoints: (
    phone:360px,
    tablet: 768px,
    desktop:1200px
);



